header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    /* Seleciona todos as tags <li> que se encontram dentro da tag <nav> */
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
     /* Seleciona todos as tags <a> que se encontram dentro da tag <nav> */
     color: #000000;
    
     font-size: 22px;
     font-weight: bold;
 
     text-transform: uppercase;
     text-decoration: none;
 
}

.produtos {
    width: 940px;
    margin:0 auto;
    padding: 50px;

}

.produtos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos__descricao {
    font-size: 18px;
}

.produtos__preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}