header {
    background: #BBBBBB;
}

nav li {
    /* Seleciona todos as tags <li> que se encontram dentro da tag <nav> */
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
     /* Seleciona todos as tags <a> que se encontram dentro da tag <nav> */
     color: #000000;
    
     font-size: 22px;
     font-weight: bold;
 
     text-transform: uppercase;
     text-decoration: none;
 
}