form {
    margin: 40px 0;
}

form label,form p {
    font-size: 20px;

    display: block;

    margin-bottom: 10px;
}

.input__padrao {
    display: block;

    margin-bottom: 20px;
    padding: 10px 25px;

    width: 50%;
}

.checkbox {
    margin: 20px 0
}