

.banner {
    width: 100%;
}

.titulo__principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}
.principal em {
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3rem 0;
    background: linear-gradient(#fefefe, #888888)
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa__conteudo {
    width: 940px;
    margin: 0 auto;
}


.beneficios {
    padding: 3em 0;
    background: #888;
}

.conteudo__beneficios {
    width: 640px;
    margin: 0 auto;
}

.itens {
    line-height: 1.5;
}

.itens:before{
    content: "★";
}

.itens:first-child{
    font-weight: bold;
}

.image__beneficios{
    width: 60%;
}

.lista__beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.video{
    width: 560px;
    margin: 2em auto;
}



